* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-body: 'Palanquin', sans-serif;
    --ff-heading: 'Staatliches', sans-serif;

    --fs-heading: 4rem;
    --fs-body: 2rem;
    --fc-primary:hsl(0, 0%, 100%);
    --fc-secondary:hsl(274, 84%, 12%);
    --fc-primary-dark:hsl(232, 17%, 35%);

    --bc-primary:hsl(218, 17%, 62%);
    --bc-secondary:hsl(233, 100%, 97%);
    --bc-primary-light: hsl(275, 18%, 79%);
}

.body {
    font-family: var(--ff-body);
}

body::before {
    display: flex;
    justify-content: center;
    width: 100%;
    content: '';
    background-color: var(--bc-primary);
    position: absolute;
    top: 0;
    left: 0;
    height: 27.9rem;
    z-index: -1;
    
}

.page {
    min-width: 100%;
    padding-bottom: 6rem;
}

header {
    font-family: var(--ff-heading);
    color: var(--fc-primary);
    text-align: center;
}

header img{
    width: 100%;
    height: 13.7rem;
    margin: 3.2rem 0;
}

header h1{
    margin-top: 3.2rem;
    background: var(--bc-primary-light);
    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    padding: 0.8rem 0;

}

section {
    text-align: center;
    font-family: var(--ff-body);
    color: var(--fc-secondary);
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 100%;
    margin: 1.4rem 0;
    padding: 0 3.6rem;
}

section p span{
    opacity: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

main .col1, .col2, .col3 {
    width: 100%;
    margin:0 auto;
    padding: 0;

}

.cards {
    margin: 0 3.2rem;
    animation: downtop 1s forwards ease-in;
}

.cards img{
    object-fit: cover;
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 3.2rem;
}

main .cards {
    position: relative;
}

main .cards p {
    font-family: var(--ff-heading);
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;

    color: var(--fc-primary-dark);
    background: var(--bc-primary-light);
    padding: 1px 2rem;
    border-radius: 2rem;


    position: absolute;
    top: 2rem;
    right: 2rem;

    animation: topdown 1s forwards;
}

footer {
    opacity: 0;
}

@keyframes downtop {
    0% {
        opacity: 0.5;
        transform:translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform:translateY(-40px)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 900px) {

    body::before {
        width: 37.7rem;
        height: 100%;
        animation: lefttoright 1s forwards ease-in-out;
        gap:0;
    }

    .page {
        display: flex;
        gap:0;
    }

    header {
        width: 37.7rem;
        animation: lefttoright 2s forwards ease-in-out;
    }


    section {
        width: 37.7rem;
        color: var(--fc-primary);
        font-size: var(--fs-body);
    }

    section p{
        max-width: 27.5rem;
        line-height: 3rem;
    }

    section p span{
        opacity: 1;
    }

    main div img{
        opacity: 0.8;
    }

    main {
        margin: 10rem auto;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main div .cards{
        margin: 2rem;
    }


    footer {
        opacity: 1;
        font-family: var(--ff-body);
        color: black;
        font-size: var(--fs-body);
        text-align: center;
    }

    footer a{
        color:black;
        text-decoration: none;
        font-weight: bold;
    }

    main div img:hover {
        transform: scale(1.1);
        opacity: 1;
    }

    @keyframes lefttoright {
        0% {
            opacity: 0;
            transform: translateX(-5rem);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }